In [1]:
import pandas as pd

In [43]:
pop_df = pd.read_csv('data/구·군_및_읍·면·동_세대와_인구_20210806152542.csv', header=2, encoding='cp949')
pop_df = pd.DataFrame(pop_df)
pop_df

,구·군별(1),구·군별(2),세대수 (세대),인구 (명),남자인구 (명),여자인구 (명),세대수 (세대).1,인구 (명).1,남자인구 (명).1,여자인구 (명).1,...,인구 (명).6,남자인구 (명).6,여자인구 (명).6,세대수 (세대).5,인구 (명).7,남자인구 (명).7,여자인구 (명).7,인구 (명).8,남자인구 (명).8,여자인구 (명).8
0,부산광역시,소계,1529794,3416090,1675239,1740851,1529794,3369704,1650252,1719452,...,3410352,1672132,1738220,1533514,3364358,1647291,1717067,45994,24841,21153
1,중구,소계,24006,43362,21452,21910,24006,41311,20122,21189,...,42619,21140,21479,23583,40561,19799,20762,2058,1341,717
2,중구,중앙동,1834,3000,1621,1379,1834,2524,1197,1327,...,3040,1641,1399,1888,2573,1229,1344,467,412,55
3,중구,동광동,1850,3109,1656,1453,1850,2830,1438,1392,...,3025,1617,1408,1773,2733,1390,1343,292,227,65
4,중구,대청동,3579,6540,3055,3485,3579,6451,3022,3429,...,6457,3027,3430,3521,6365,2988,3377,92,39,53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,기장군,기장읍,25219,53200,26001,27199,25219,52681,25719,26962,...,53184,25978,27206,25290,52662,25694,26968,522,284,238
218,기장군,장안읍,4672,8902,4895,4007,4672,8579,4604,3975,...,8912,4908,4004,4690,8585,4613,3972,327,295,32
219,기장군,정관읍,31402,82701,40981,41720,31402,81719,40360,41359,...,82737,41033,41704,31512,81775,40430,41345,962,603,359
220,기장군,일광면,10558,25473,12675,12798,10558,25318,12589,12729,...,25792,12810,12982,10695,25637,12723,12914,155,87,68
221,기장군,철마면,3857,8047,4064,3983,3857,7990,4032,3958,...,8012,4054,3958,3871,7958,4024,3934,54,30,24

In [12]:
pop_df.columns

Index(['행정구역별(읍면동)', '연령별', '2020', '2020.1', '2020.2', '2020.3', '2020.4',
       '2020.5', '2020.6', '2020.7'],
      dtype='object')

In [19]:
pop_df = pop_df[['행정구역별(읍면동)', '연령별', '2020',
                 '2020.1', '2020.2']]

In [22]:
pop_df.columns = ['지역구', '연령별', '총', '남자', '여자']
# pop_df.rename(columns={'지역구', '연령별', '총', '남자', '여자', '내국인'}, inplace=True)

In [28]:
pop_df = pop_df.drop(0)
pop_df

     지역구     연령별         총        남자        여자
1     전국      합계  51829136  25915207  25913929
2     전국    0~4세   1722081    883196    838885
3     전국    5~9세   2264595   1161247   1103348
4     전국  10~14세   2267481   1168937   1098544
5     전국  15~19세   2449561   1271404   1178157
..   ...     ...       ...       ...       ...
500  기장군   15세미만     27972     14297     13675
501  기장군  15~64세    114916     58308     56608
502  기장군   65세이상     26577     11183     15394
503  기장군    평균연령      41.4      40.0      42.8
504  기장군    중위연령      42.1      41.1      43.2

[504 rows x 5 columns]

In [33]:
pop_df = pop_df[pop_df['연령별'] == '합계']
pop_df

       지역구 연령별         총        남자        여자
1       전국  합계  51829136  25915207  25913929
29   부산광역시  합계   3349016   1638751   1710265
57      중구  합계     41439     20420     21019
85      서구  합계    105303     51131     54172
113     동구  합계     87246     42455     44791
141    영도구  합계    113224     56614     56610
169   부산진구  합계    351403    168641    182762
197    동래구  합계    263345    127745    135600
225     남구  합계    269111    131685    137426
253     북구  합계    280177    138111    142066
281   해운대구  합계    389535    187806    201729
309    사하구  합계    312057    155311    156746
337    금정구  합계    237219    115300    121919
365    강서구  합계    136734     72095     64639
393    연제구  합계    204947     98187    106760
421    수영구  합계    171461     80701     90760
449    사상구  합계    216350    108761    107589
477    기장군  합계    169465     83788     85677

In [34]:
pop_df = pop_df[['지역구', '총']]
pop_df

       지역구         총
1       전국  51829136
29   부산광역시   3349016
57      중구     41439
85      서구    105303
113     동구     87246
141    영도구    113224
169   부산진구    351403
197    동래구    263345
225     남구    269111
253     북구    280177
281   해운대구    389535
309    사하구    312057
337    금정구    237219
365    강서구    136734
393    연제구    204947
421    수영구    171461
449    사상구    216350
477    기장군    169465