### 부산광역시 총인구 전처리
---

In [1]:
import pandas as pd
import os

In [2]:
os.getcwd()

'g:\\Repository\\PublicBigData\\BigData'

In [3]:
# 파일 읽기
df = pd.read_csv("data/pop.csv", encoding='euc-kr')
df.head(1)

,구·군별(1),구·군별(2),2021. 04,2021. 04.1,2021. 04.2,2021. 04.3,2021. 04.4,2021. 04.5,2021. 04.6,2021. 04.7,...,2021. 06.1,2021. 06.2,2021. 06.3,2021. 06.4,2021. 06.5,2021. 06.6,2021. 06.7,2021. 06.8,2021. 06.9,2021. 06.10
0,구·군별(1),구·군별(2),총인구,총인구,총인구,총인구,한국인,한국인,한국인,한국인,...,총인구,총인구,총인구,한국인,한국인,한국인,한국인,외국인,외국인,외국인

In [4]:
# 필요한 열 추출
print(df.columns)
df = df[['구·군별(1)', '구·군별(2)', '2021. 06', '2021. 06.1']]
df

Index(['구·군별(1)', '구·군별(2)', '2021. 04', '2021. 04.1', '2021. 04.2',
       '2021. 04.3', '2021. 04.4', '2021. 04.5', '2021. 04.6', '2021. 04.7',
       '2021. 04.8', '2021. 04.9', '2021. 04.10', '2021. 05', '2021. 05.1',
       '2021. 05.2', '2021. 05.3', '2021. 05.4', '2021. 05.5', '2021. 05.6',
       '2021. 05.7', '2021. 05.8', '2021. 05.9', '2021. 05.10', '2021. 06',
       '2021. 06.1', '2021. 06.2', '2021. 06.3', '2021. 06.4', '2021. 06.5',
       '2021. 06.6', '2021. 06.7', '2021. 06.8', '2021. 06.9', '2021. 06.10'],
      dtype='object')

     구·군별(1)  구·군별(2)  2021. 06 2021. 06.1
0    구·군별(1)  구·군별(2)       총인구        총인구
1    구·군별(1)  구·군별(2)  세대수 (세대)     인구 (명)
2      부산광역시       소계   1533514    3410352
3         중구       소계     23583      42619
4         중구      중앙동      1888       3040
..       ...      ...       ...        ...
219      기장군      기장읍     25290      53184
220      기장군      장안읍      4690       8912
221      기장군      정관읍     31512      82737
222      기장군      일광면     10695      25792
223      기장군      철마면      3871       8012

[224 rows x 4 columns]

In [5]:
# 열 이름 변경
df = df.rename(columns={df.columns[0]: '구',
               df.columns[1]: '동', df.columns[2]: '총인구', df.columns[3]: '세대수'})
df

           구        동       총인구      세대수
0    구·군별(1)  구·군별(2)       총인구      총인구
1    구·군별(1)  구·군별(2)  세대수 (세대)   인구 (명)
2      부산광역시       소계   1533514  3410352
3         중구       소계     23583    42619
4         중구      중앙동      1888     3040
..       ...      ...       ...      ...
219      기장군      기장읍     25290    53184
220      기장군      장안읍      4690     8912
221      기장군      정관읍     31512    82737
222      기장군      일광면     10695    25792
223      기장군      철마면      3871     8012

[224 rows x 4 columns]

In [6]:
# 필요없는 행 삭제
df = df.drop([df.index[0], df.index[1]])
df

         구    동      총인구      세대수
2    부산광역시   소계  1533514  3410352
3       중구   소계    23583    42619
4       중구  중앙동     1888     3040
5       중구  동광동     1773     3025
6       중구  대청동     3521     6457
..     ...  ...      ...      ...
219    기장군  기장읍    25290    53184
220    기장군  장안읍     4690     8912
221    기장군  정관읍    31512    82737
222    기장군  일광면    10695    25792
223    기장군  철마면     3871     8012

[222 rows x 4 columns]

In [12]:
# 숫자찍힌 문자열 숫자형으로 변경
df['총인구'] = pd.to_numeric(df['총인구'])
df['세대수'] = pd.to_numeric(df['세대수'])

In [13]:
# 그룹별로 집계 : 구별 집계
pop_g = df.groupby(df['구'], as_index=False).sum()
pop_g.head()
# pop_g = pop_g.drop([pop_g.index[124]])
# 인덱스 새로 설정
# pop_g.reset_index(drop=True, inplace=True)
# pop_g.loc[123:]

     구     총인구     세대수
0  강서구  119908  290540
1  금정구  214330  466162
2  기장군  152116  357274
3   남구  234820  538984
4   동구   91822  179964

In [7]:
# 그룹별로 집계
pop_g = df.groupby(df['동'], as_index=False).sum()
pop_g= pop_g.drop([pop_g.index[124]])
# 인덱스 새로 설정
pop_g.reset_index(drop=True, inplace=True)
pop_g.loc[123:]

        동     구    총인구    세대수
123  선두구동   금정구   1274   2350
124   송정동  해운대구   5064  10059
125   수민동   동래구  13689  32999
126   수영동   수영구   7867  14956
127  수정1동    동구   2020   4194
..    ...   ...    ...    ...
200  하단2동   사하구  12646  25768
201   학장동   사상구  12141  29148
202  화명1동    북구  14461  42144
203  화명2동    북구   6744  16841
204  화명3동    북구  10726  30002

[82 rows x 4 columns]

In [14]:
# 요약
pop_g.describe()

                총인구           세대수
count  1.700000e+01  1.700000e+01
mean   2.706201e+05  6.018268e+05
std    3.361120e+05  7.494617e+05
min    4.716600e+04  8.523800e+04
25%    1.199080e+05  2.905400e+05
50%    1.963580e+05  4.296200e+05
75%    2.440460e+05  5.716940e+05
max    1.533514e+06  3.410352e+06

In [16]:
# csv 저장
pop_g.to_csv('result/총인구/구별_총인구_세대수.csv', encoding='euc-kr', index=False)

In [7]:
# 저장한 csv 불러오기
pop_g = pd.read_csv('result/총인구/동별_총인구_세대수.csv')
pop_g.head(3)

      동     구    총인구    세대수
0  가덕도동   강서구   2416   3904
1   가락동   강서구   1357   2452
2  가야1동  부산진구  10075  19986

In [10]:
for dong in pop_g['동']:
    print(dong)

가덕도동
가락동
가야1동
가야2동
감만1동
감만2동
감전동
감천1동
감천2동
강동동
개금1동
개금2동
개금3동
거제1동
거제2동
거제3동
거제4동
광복동
광안1동
광안2동
광안3동
광안4동
괘법동
괴정1동
괴정2동
괴정3동
괴정4동
구서1동
구서2동
구평동
구포1동
구포2동
구포3동
금곡동
금사회동동
금성동
기장읍
남부민1동
남부민2동
남산동
남천1동
남천2동
남포동
남항동
녹산동
다대1동
다대2동
당감1동
당감2동
당감4동
당리동
대연1동
대연3동
대연4동
대연5동
대연6동
대저1동
대저2동
대청동
덕천1동
덕천2동
덕천3동
덕포1동
덕포2동
동광동
동대신1동
동대신2동
동대신3동
동삼1동
동삼2동
동삼3동
만덕1동
만덕2동
만덕3동
망미1동
망미2동
명륜동
명장1동
명장2동
명지1동
명지2동
모라1동
모라3동
문현1동
문현2동
문현3동
문현4동
민락동
반송1동
반송2동
반여1동
반여2동
반여3동
반여4동
범일1동
범일2동
범일5동
범천1동
범천2동
보수동
복산동
봉래1동
봉래2동
부곡1동
부곡2동
부곡3동
부곡4동
부민동
부암1동
부암3동
부전1동
부전2동
부평동
사직1동
사직2동
사직3동
삼락동
서1동
서2동
서3동
서대신1동
서대신3동
서대신4동
선두구동
송정동
수민동
수영동
수정1동
수정2동
수정4동
수정5동
신선동
신평1동
신평2동
아미동
안락1동
안락2동
암남동
양정1동
양정2동
엄궁동
연산1동
연산2동
연산3동
연산4동
연산5동
연산6동
연산8동
연산9동
연지동
영선1동
영선2동
영주1동
영주2동
온천1동
온천2동
온천3동
용당동
용호1동
용호2동
용호3동
용호4동
우1동
우2동
우3동
우암동
일광면
장림1동
장림2동
장안읍
장전1동
장전2동
재송1동
재송2동
전포1동
전포2동
정관읍
좌1동
좌2동
좌3동
좌4동
좌천동
주례1동
주례2동
주례3동
중1동
중2동
중앙동
철마면
청룡노포동
청학1동
청학2동
초량1동
초량2동
초량3동
초량6동
초읍동
초장동
충무동
하단1동
하단2동
학장동
화명1동
화명2동
화명3동

In [19]:
pop_g['동'][0][1:3]

'덕도'

In [9]:
# 중복 동 묶기
# 일단 앞에 두글자 따와서
def dong_concat(df):
    dongs = list()
    for dong in df['동']:
        if(dong[:1] == '좌' or dong[:1] == '우' or dong[:1] == '중' or dong[:1] == '서'):
            if(dong[:2] == '서대'):
                dongs.append('서대신동')
            elif(dong[:2] == '중앙'):
                dongs.append('중앙동')
            elif(dong[:2] == '우암'):
                dongs.append('우암동')
            elif(dong[:2] == '좌천'):
                dongs.append('좌천동')
            else:
                dongs.append(dong[:1]+'동')
        else:
            if(dong[:3] == '금사회'):
                dongs.append('금사동')
            elif(dong[:2] == '기장'):
                dongs.append('기장읍')
            elif(dong[:2] == '가덕'):
                dongs.append("가덕도동")
            elif(dong[:2] == '청룡'):
                dongs.append("청룡노포동")
            elif(dong[:2] == '남부'):
                dongs.append('남부민동')
            elif(dong[:2] == '철마'):
                dongs.append('철마면')
            elif(dong[:2] == '정관'):
                dongs.append('정관읍')
            elif(dong[:2] == '장안'):
                dongs.append('장안읍')
            elif(dong[:2] == '선두'):
                dongs.append('선두구동')
            elif(dong[:2] == '일광'):
                dongs.append('일광면')
            elif(dong[:2] == '남부'):
                dongs.append('남부민동')
            elif(dong[:2] == '동대'):
                dongs.append('동대신동')
            else:
                dongs.append(dong[:2]+'동')
    df['통합동'] = dongs
    return df

In [10]:
dong_concat(pop_g)

        동     구    총인구    세대수   통합동
0    가덕도동   강서구   2416   3904  가덕도동
1     가락동   강서구   1357   2452   가락동
2    가야1동  부산진구  10075  19986   가야동
3    가야2동  부산진구   7302  17113   가야동
4    감만1동    남구   6238  13463   감만동
..    ...   ...    ...    ...   ...
200  하단2동   사하구  12646  25768   하단동
201   학장동   사상구  12141  29148   학장동
202  화명1동    북구  14461  42144   화명동
203  화명2동    북구   6744  16841   화명동
204  화명3동    북구  10726  30002   화명동

[205 rows x 5 columns]

In [11]:
gu = pop_g[['구', '통합동']]
gu.head()

      구   통합동
0   강서구  가덕도동
1   강서구   가락동
2  부산진구   가야동
3  부산진구   가야동
4    남구   감만동

In [14]:
# 통합동으로 묶기
pop_gg = pop_g.groupby(pop_g['통합동'], as_index=False).sum()
pop_gg

      통합동    총인구    세대수
0    가덕도동   2416   3904
1     가락동   1357   2452
2     가야동  17377  37099
3     감만동   9544  20321
4     감전동   7241  14041
..    ...    ...    ...
99    초장동   2617   4438
100   충무동   5465  10265
101   하단동  22884  47520
102   학장동  12141  29148
103   화명동  31931  88987

[104 rows x 3 columns]

In [15]:
pop_gg.columns[0] = '동'

      통합동    총인구    세대수
0    가덕도동   2416   3904
1     가락동   1357   2452
2     가야동  17377  37099
3     감만동   9544  20321
4     감전동   7241  14041
..    ...    ...    ...
99    초장동   2617   4438
100   충무동   5465  10265
101   하단동  22884  47520
102   학장동  12141  29148
103   화명동  31931  88987

[104 rows x 3 columns]

In [13]:
gu = gu.drop_duplicates()
gu

        구   통합동
0     강서구  가덕도동
1     강서구   가락동
2    부산진구   가야동
4      남구   감만동
6     사상구   감전동
..    ...   ...
197    서구   초장동
198    서구   충무동
199   사하구   하단동
201   사상구   학장동
202    북구   화명동

[104 rows x 2 columns]

In [14]:
gu.to_csv('result/동별_구.csv', encoding='utf-8', index=False)

In [26]:
pop_gg_gu = pd.merge(pop_gg, gu, how='outer')
# pop_gg_gu = pop_gg.join(gu)
pop_gg_gu.head()

    통합동    총인구    세대수     구
0  가덕도동   2416   3904   강서구
1   가락동   1357   2452   강서구
2   가야동  17377  37099  부산진구
3   가야동  17377  37099  부산진구
4   감만동   9544  20321    남구

In [20]:
pop_gg_gu = pop_gg_gu[['구', '통합동', '총인구', '세대수']]
pop_gg_gu.head()

      구   통합동    총인구    세대수
0   강서구  가덕도동   2416   3904
1   강서구   가락동   1357   2452
2  부산진구   가야동  17377  37099
3  부산진구   가야동  17377  37099
4    남구   감만동   9544  20321

In [21]:
# 마지막 결과 저장
# csv 저장
pop_gg_gu.to_csv('result/총인구/동별_총인구_세대수_결과.csv', encoding='utf-8', index=False)