### 구별로 변경
---

In [1]:
import pandas as pd

In [10]:
df = pd.read_csv('result/부산_동별_방제취약지수_최종_euckr.csv', encoding='euc-kr')
df.head()

,통합동,구,총인구,세대수,평균기온,최고기온,최저기온,강수량,습도,공원개수,가로수개수,공간유형,주거지부,공원부,수변부,해충지수,해충취약지수,해충취약지수2
0,가덕도동,강서구,2416,3904,27.6118,32.3226,24.5484,556.6129,84.6371,2,2,주거지부,56.6548,38.1382,148.4496,205.4727,120.6638,153.7868
1,가락동,강서구,1357,2452,28.1639,33.2903,24.9677,548.6774,83.9462,0,0,수변부,57.4240,41.0330,150.7779,210.9522,122.2653,101.5915
2,가야동,부산진구,17377,37099,27.1467,32.0000,24.3226,537.0323,82.4274,3,7,주거지부,55.4578,38.0709,147.1960,203.7528,121.8619,901.6486
3,감만동,남구,9544,20321,26.9797,30.4194,24.7419,528.5161,90.3885,3,7,주거지부,56.6601,37.5213,149.5242,205.9322,124.5438,510.5245
4,감전동,사상구,7241,14041,28.1855,33.1613,25.1935,544.1290,82.2231,1,5,수변부,57.6399,41.4200,152.0316,212.6649,125.2771,396.1303

In [11]:
df.columns

Index(['통합동', '구', '총인구', '세대수', '평균기온', '최고기온', '최저기온', '강수량', '습도', '공원개수',
       '가로수개수', '공간유형', '주거지부', '공원부', '수변부', '해충지수', '해충취약지수', '해충취약지수2'],
      dtype='object')

In [33]:
df2 = df[['구', '총인구', '세대수', '공원개수', '가로수개수']]
df3 = df[['구', '평균기온', '최고기온', '최저기온', '강수량', '습도', '주거지부', '공원부', '수변부', '해충지수', '해충취약지수', '해충취약지수2']]
df3.head()

,구,평균기온,최고기온,최저기온,강수량,습도,주거지부,공원부,수변부,해충지수,해충취약지수,해충취약지수2
0,강서구,27.6118,32.3226,24.5484,556.6129,84.6371,56.6548,38.1382,148.4496,205.4727,120.6638,153.7868
1,강서구,28.1639,33.2903,24.9677,548.6774,83.9462,57.4240,41.0330,150.7779,210.9522,122.2653,101.5915
2,부산진구,27.1467,32.0000,24.3226,537.0323,82.4274,55.4578,38.0709,147.1960,203.7528,121.8619,901.6486
3,남구,26.9797,30.4194,24.7419,528.5161,90.3885,56.6601,37.5213,149.5242,205.9322,124.5438,510.5245
4,사상구,28.1855,33.1613,25.1935,544.1290,82.2231,57.6399,41.4200,152.0316,212.6649,125.2771,396.1303

In [57]:
df22 = df2.groupby(df['구'], as_index=True).sum()
df22.head()

        총인구     세대수  공원개수  가로수개수
구
강서구   59954  145270    74     55
금정구  107165  233081    38     18
기장군   76058  178637    61     58
남구   117410  269492    36     67
동구    45911   89982     6     29

In [62]:
df33 = df3.groupby(df['구'], as_index=True).mean()
df33.head()

,평균기온,최고기온,최저기온,강수량,습도,주거지부,공원부,수변부,해충지수,해충취약지수,해충취약지수2
구,,,,,,,,,,,
강서구,27.800917,32.779550,24.672033,547.091400,83.628567,56.778483,39.743150,149.136183,207.805467,125.211767,533.107350
금정구,27.469444,32.732378,24.336922,525.831522,81.295111,55.721889,40.374944,147.275578,206.224489,120.371267,628.377156
기장군,27.073180,29.790320,26.832280,441.267700,83.551600,57.673500,44.705160,161.129700,225.059340,135.039980,796.717680
남구,26.941767,30.661300,24.607500,524.989217,85.367167,56.263450,37.792583,148.777967,205.325017,125.319267,1011.628733
동구,27.154875,31.524175,24.590725,533.705625,82.362975,56.015150,38.160350,148.684700,205.516750,122.855975,606.955325

In [68]:
dfdf = pd.merge(df22, df33, left_on='구', right_on='구')
dfdf.head()

,총인구,세대수,공원개수,가로수개수,평균기온,최고기온,최저기온,강수량,습도,주거지부,공원부,수변부,해충지수,해충취약지수,해충취약지수2
구,,,,,,,,,,,,,,,
강서구,59954,145270,74,55,27.800917,32.779550,24.672033,547.091400,83.628567,56.778483,39.743150,149.136183,207.805467,125.211767,533.107350
금정구,107165,233081,38,18,27.469444,32.732378,24.336922,525.831522,81.295111,55.721889,40.374944,147.275578,206.224489,120.371267,628.377156
기장군,76058,178637,61,58,27.073180,29.790320,26.832280,441.267700,83.551600,57.673500,44.705160,161.129700,225.059340,135.039980,796.717680
남구,117410,269492,36,67,26.941767,30.661300,24.607500,524.989217,85.367167,56.263450,37.792583,148.777967,205.325017,125.319267,1011.628733
동구,45911,89982,6,29,27.154875,31.524175,24.590725,533.705625,82.362975,56.015150,38.160350,148.684700,205.516750,122.855975,606.955325

In [70]:
dfdf.to_csv('result/부산_구별_해충취약지수_최종_euckr.csv', encoding='euc-kr')

In [71]:
po = pd.read_csv('data/구별 포충기 설치 대수.csv')
po.head()

  구이름  포충기 대수
0  북구       1
1  서구       1
2  중구      10
3  동구      15
4  남구      13

In [76]:
po.columns = ['구', '포충기대수']

In [78]:
dfdf2 = pd.merge(dfdf, po, left_on='구', right_on='구')
dfdf2.head()

,구,총인구,세대수,공원개수,가로수개수,평균기온,최고기온,최저기온,강수량,습도,주거지부,공원부,수변부,해충지수,해충취약지수,해충취약지수2,포충기대수
0,강서구,59954,145270,74,55,27.800917,32.779550,24.672033,547.091400,83.628567,56.778483,39.743150,149.136183,207.805467,125.211767,533.107350,0
1,금정구,107165,233081,38,18,27.469444,32.732378,24.336922,525.831522,81.295111,55.721889,40.374944,147.275578,206.224489,120.371267,628.377156,0
2,기장군,76058,178637,61,58,27.073180,29.790320,26.832280,441.267700,83.551600,57.673500,44.705160,161.129700,225.059340,135.039980,796.717680,280
3,남구,117410,269492,36,67,26.941767,30.661300,24.607500,524.989217,85.367167,56.263450,37.792583,148.777967,205.325017,125.319267,1011.628733,13
4,동구,45911,89982,6,29,27.154875,31.524175,24.590725,533.705625,82.362975,56.015150,38.160350,148.684700,205.516750,122.855975,606.955325,15

In [84]:
dfdf2.to_csv('result/부산_구별_해충취약지수_최종_euckr.csv', encoding='euc-kr', index=False)