### 부산광역시 모기지수 (해충지수)
### 동별 파일 만들기 (월기준)
----

In [9]:
import pandas as pd
import os

In [ ]:
# 현재 경로로 변경
os.chdir('result/8월')
# os.chdir('../r8월')

In [4]:
# 경로 파일 리스트 가져오기
pest_list = list(os.listdir(os.getcwd()))
len(pest_list)
print(pest_list[0])

8월_가덕도동_모기지수.csv

In [5]:
# 중복 동 묶기
# 일단 앞에 두글자 따와서
def dong_concat(df):
    dongs = list()
    for dong in df['동이름']:
        if(dong[:1] == '좌' or dong[:1] == '우' or dong[:1] == '중' or dong[:1] == '서'):
            if(dong[:2] == '서대'):
                dongs.append('서대신동')
            elif(dong[:2] == '중앙'):
                dongs.append('중앙동')
            elif(dong[:2] == '우암'):
                dongs.append('우암동')
            elif(dong[:2] == '좌천'):
                dongs.append('좌천동')
            else:
                dongs.append(dong[:1]+'동')
        else:
            if(dong[:3] == '금사회'):
                dongs.append('금사동')
            elif(dong[:2] == '기장'):
                dongs.append('기장읍')
            elif(dong[:2] == '가덕'):
                dongs.append("가덕도동")
            elif(dong[:2] == '청룡'):
                dongs.append("청룡노포동")
            elif(dong[:2] == '남부'):
                dongs.append('남부민동')
            elif(dong[:2] == '철마'):
                dongs.append('철마면')
            elif(dong[:2] == '정관'):
                dongs.append('정관읍')
            elif(dong[:2] == '장안'):
                dongs.append('장안읍')
            elif(dong[:2] == '선두'):
                dongs.append('선두구동')
            elif(dong[:2] == '일광'):
                dongs.append('일광면')
            elif(dong[:2] == '남부'):
                dongs.append('남부민동')
            elif(dong[:2] == '동대'):
                dongs.append('동대신동')
            else:
                dongs.append(dong[:2]+'동')
    df['통합동'] = dongs
    return df

In [7]:
# 반복문 돌기
merged_df = pd.DataFrame()
for pest in pest_list:
    df = pd.read_csv(pest)
    df_g = round(df.groupby(df['동이름'], as_index=False).mean(), 4)
    merged_df = merged_df.append(df_g)
merged_df = dong_concat(merged_df)
merged_df = round(merged_df.groupby(merged_df['통합동'], as_index=False).mean(), 4)
merged_df.reset_index(drop=True, inplace=True)
merged_df.to_csv('../8월_모기지수_월기준_최종.csv', index=False)

In [31]:
df = pd.read_csv('../../result/8월_모기지수_월기준_최종.csv')
df.head()

,통합동,평균기온,강수량,습도,최고기온,최저기온,수변부,주거지부,공원부
0,가덕도동,27.6118,556.6129,84.6371,32.3226,24.5484,148.4496,56.6548,38.1382
1,가락동,28.1639,548.6774,83.9462,33.2903,24.9677,150.7779,57.4240,41.0330
2,가야동,27.1467,537.0323,82.4274,32.0000,24.3226,147.1960,55.4578,38.0709
3,감만동,26.9797,528.5161,90.3885,30.4194,24.7419,149.5242,56.6601,37.5213
4,감전동,28.1855,544.1290,82.2231,33.1613,25.1935,152.0316,57.6399,41.4200

In [ ]:
df = df.drop(['일'], axis=1)
df.head()

In [32]:
gu = pd.read_csv('../../result/동별_구.csv')
gu.head()

      구   통합동
0   강서구  가덕도동
1   강서구   가락동
2  부산진구   가야동
3    남구   감만동
4   사상구   감전동

In [33]:
df_gu = pd.merge(df, gu)
df_gu

,통합동,평균기온,강수량,습도,최고기온,최저기온,수변부,주거지부,공원부,구
0,가덕도동,27.6118,556.6129,84.6371,32.3226,24.5484,148.4496,56.6548,38.1382,강서구
1,가락동,28.1639,548.6774,83.9462,33.2903,24.9677,150.7779,57.4240,41.0330,강서구
2,가야동,27.1467,537.0323,82.4274,32.0000,24.3226,147.1960,55.4578,38.0709,부산진구
3,감만동,26.9797,528.5161,90.3885,30.4194,24.7419,149.5242,56.6601,37.5213,남구
4,감전동,28.1855,544.1290,82.2231,33.1613,25.1935,152.0316,57.6399,41.4200,사상구
...,...,...,...,...,...,...,...,...,...,...
98,초장동,27.0717,536.7097,82.3481,31.3548,24.6129,148.8078,55.9256,37.5656,서구
99,충무동,27.0717,536.7097,82.3481,31.3548,24.6129,148.8078,55.9256,37.5656,서구
100,하단동,27.7143,540.4194,83.5847,32.1935,25.0000,150.9570,57.1413,39.7461,사하구
101,학장동,28.1855,544.1290,82.2231,33.1613,25.1935,152.0316,57.6399,41.4200,사상구
102,화명동,28.4374,540.9032,81.3145,33.8065,25.1290,151.6734,57.7644,42.7986,북구

In [35]:
df_gu = df_gu[['통합동', '구', '평균기온', '최고기온', '최저기온', '강수량', '습도', '수변부', '주거지부', '공원부']]
df_gu

,통합동,구,평균기온,최고기온,최저기온,강수량,습도,수변부,주거지부,공원부
0,가덕도동,강서구,27.6118,32.3226,24.5484,556.6129,84.6371,148.4496,56.6548,38.1382
1,가락동,강서구,28.1639,33.2903,24.9677,548.6774,83.9462,150.7779,57.4240,41.0330
2,가야동,부산진구,27.1467,32.0000,24.3226,537.0323,82.4274,147.1960,55.4578,38.0709
3,감만동,남구,26.9797,30.4194,24.7419,528.5161,90.3885,149.5242,56.6601,37.5213
4,감전동,사상구,28.1855,33.1613,25.1935,544.1290,82.2231,152.0316,57.6399,41.4200
...,...,...,...,...,...,...,...,...,...,...
98,초장동,서구,27.0717,31.3548,24.6129,536.7097,82.3481,148.8078,55.9256,37.5656
99,충무동,서구,27.0717,31.3548,24.6129,536.7097,82.3481,148.8078,55.9256,37.5656
100,하단동,사하구,27.7143,32.1935,25.0000,540.4194,83.5847,150.9570,57.1413,39.7461
101,학장동,사상구,28.1855,33.1613,25.1935,544.1290,82.2231,152.0316,57.6399,41.4200
102,화명동,북구,28.4374,33.8065,25.1290,540.9032,81.3145,151.6734,57.7644,42.7986

In [36]:
df_gu.to_csv('../../result/8월_모기지수_월기준_최종.csv', index=False)